/*margin:0;
padding:0; Esto no va porque bootstrap ya tiene incorporado
box-sizing:border-box;*/
h3{
	font-family: 'Arial';
	font-size:15pt;
	letter-spacing: 1px;
	width: 100%;
	padding: 15px;
	text-align: center;
	color:#fff;
	text-transform: uppercase;
	font-weight: bold;
}
body{
	background:url(../img/fondo2.png);
}
/*sacar linea enlace en hover*/
.sinlinea{
	font-size: 30px;

}
.sinlinea:hover{
	text-decoration: none;
}
/* container para posicionar formularios*/
#container{
	
	width: 100%;
	height: 90vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;	
	justify-content: center;
	align-items: center;
	
}
/*formulario de ingreso y registro*/
#form-ingreso{
	width: 400px;
	padding: 10px;
	height: 505px;
}

#container form img{
	margin:10px auto;
	display: block;
	text-align: center;
}
/*error en el ingreso de usuario y contraseña*/
#alerta{
	background-color:#e74c3c ;
	border-radius:20px;
	margin: auto;
	color:#fff;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
	display: none;
}
.alerta{
	background-color:#e74c3c ;
	border-radius:20px;
	margin: auto;
	color:#fff;
	text-align: center;
	font-size: 15px;
	font-weight: bold;
}
.ubicar_submit{
	position: relative;
	top:30px;
	
}
.form_register{
	margin: auto;
	padding: auto;
	border-radius: 10px;
	height: 600px;
}
.errores{
	width: 300px;
	text-align: center;
	margin: auto;
	padding: auto;
}
/*ocultar mensajes de errores*/
.ocultar{
	display: none;
	height: 5px;
}
/* alertas de mesanjes*/
.alerta-correcto{
	background-color: #27ae60;
	border-radius:20px;
	margin: 5px auto;
	color:#fff;
	padding:15px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	

}
.alerta-incorrecto{
	background-color:#e74c3c ;
	border-radius:20px;
	margin: 5px auto;
	color:#fff;
	padding:15px;
	text-align: center;
	font-size: 17px;
	font-weight: bold;
	
}


.notItem option:first-child{
	display: none
}
/*paginador*/
.paginador ul{
	padding: 15px;
	list-style: none;
	margin-top: 15px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.paginador a,.pageSelected{
	
	padding: 5px;
	display:inline-block;
	font-size: 14px;
	text-align: center;
	width: 35px;
	text-decoration: none;
}
.paginador a:hover{
	background-color: #ddd;
}
.pageSelected{
	color:#fff;
	background-color: #428bca;
	
}
#loader{
	width: 100%;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	/*background-color: background: rgba(1, 1, 4, 0.9411764705882353);*/
	background: url(../img/loader.gif) no-repeat rgba(248, 249, 240, 0.93);
	background-position: center center;
	display: none;
	z-index: 1;
}
